@import "../colors.scss";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    margin: 10px;
  }
}

#dashboard {
  display: flex;
  align-content: flex-start;
  flex-flow: column wrap;
  flex-direction: row;
  width: 100vw;
  flex: 1;
  .tile {
    flex-grow: 1;
    display: flex;
    flex: 1;
    margin: 6px;
  }
}
