<mat-toolbar [color]="'primary'" id="toolbar">
    <img src="assets/t-systems-logo.svg" height="36px">
    <div>
        Live Dashboard for:
        <app-device-selector></app-device-selector>
    </div>
    <img id="claim" src="assets/t-systems-claim.svg">
</mat-toolbar>


<div id="dashboard">
    <mat-card class="tile">
        <mat-card-title>Info</mat-card-title>
        <mat-card-content>
            <p>Ip Address: {{ipAddress}} </p>
            <p class="roundtrip">
                MQTT Roundtrip: <app-roundtrip></app-roundtrip>
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="tile">
        <mat-card-title>Video</mat-card-title>
        <mat-card-content>
            <app-video-player></app-video-player>
        </mat-card-content>
    </mat-card>
    <mat-card class="tile">
        <mat-card-title>Log</mat-card-title>
        <mat-card-content>
            <app-log-stream></app-log-stream>
        </mat-card-content>
    </mat-card>
    <mat-card class="tile centered">
        <mat-card-title>Lidar</mat-card-title>
        <mat-card-content>
            <app-connected-scatter-plot [points]="points" [maxScale]="maxDistance"></app-connected-scatter-plot>
        </mat-card-content>
    </mat-card>
    <mat-card class="tile centered">
        <mat-card-title>Gyroscope</mat-card-title>
        <mat-card-content>
            <app-chart-log></app-chart-log>
        </mat-card-content>
    </mat-card>
    <mat-card class="tile centered">
        <mat-card-title>Motor (Duty)</mat-card-title>
        <mat-card-content>
            <app-motor-data></app-motor-data>
        </mat-card-content>
    </mat-card>
    <mat-card class="tile centered">
        <mat-card-title>Motor (Position)</mat-card-title>
        <mat-card-content>
            <app-steering-data></app-steering-data>
        </mat-card-content>
    </mat-card>
    <mat-card class="tile centered">
        <mat-card-title>Ultransonic</mat-card-title>
        <mat-card-content>
            <app-ultransic-data></app-ultransic-data>
        </mat-card-content>
    </mat-card>
    <mat-card class="tile centered">
        <mat-card-title>Raspberry</mat-card-title>
        <mat-card-content>
            <app-raspi-data></app-raspi-data>
        </mat-card-content>
    </mat-card>
</div>