@import "../colors.scss";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    margin: 10px;
  }
}

mat-grid-list {
  width: 100%;
}

.mat-card {
  width: 90%;
  height: 90%;
}
