<mat-toolbar [color]="'primary'" id="toolbar">
    <img src="assets/t-systems-logo.svg">
    <app-device-selector></app-device-selector>
    <img id="claim" src="assets/t-systems-claim.svg">
</mat-toolbar>

<mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Info</mat-card-title>
            <mat-card-content>
                <div>Ip Address: {{ipAddress}} </div>
                <div class="roundtrip">
                    MQTT Roundtrip: <app-roundtrip></app-roundtrip>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Live-Video</mat-card-title>
            <mat-card-content>
                <!-- <app-video-player></app-video-player> -->
                Coming soon!
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Log</mat-card-title>
            <mat-card-content>
                <div *ngFor="let logLine of logLines">{{logLine}}</div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Lidar</mat-card-title>
            <mat-card-content>
                <app-connected-scatter-plot [points]="points"></app-connected-scatter-plot>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>