@font-face {
  font-family: TeleNeo;
  font-style: normal;
  font-weight: 200;
  src: url(/assets/fonts/TeleNeoWeb-Thin.woff2) format("woff2"),
    url(/assets/fonts/TeleNeoWeb-Thin.woff) format("woff"),
    url(/assets/fonts/TeleNeoWeb-Thin.ttf) format("truetype");
}

@font-face {
  font-family: TeleNeo;
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/TeleNeoWeb-Regular.woff2) format("woff2"),
    url(/assets/fonts/TeleNeoWeb-Regular.woff) format("woff"),
    url(/assets/fonts/TeleNeoWeb-Regular.ttf) format("truetype");
}

@font-face {
  font-family: TeleNeo;
  font-style: italic;
  font-weight: 400;
  src: url(/assets/fonts/TeleNeoWeb-RegularItalic.woff2) format("woff2"),
    url(/assets/fonts/TeleNeoWeb-RegularItalic.woff) format("woff"),
    url(/assets/fonts/TeleNeoWeb-RegularItalic.ttf) format("truetype");
}

@font-face {
  font-family: TeleNeo;
  font-style: normal;
  font-weight: 600;
  src: url(/assets/fonts/TeleNeoWeb-Medium.woff2) format("woff2"),
    url(/assets/fonts/TeleNeoWeb-Medium.woff) format("woff"),
    url(/assets/fonts/TeleNeoWeb-Medium.ttf) format("truetype");
}

@font-face {
  font-family: TeleNeo;
  font-style: italic;
  font-weight: 600;
  src: url(/assets/fonts/TeleNeoWeb-MediumItalic.woff2) format("woff2"),
    url(/assets/fonts/TeleNeoWeb-MediumItalic.woff) format("woff"),
    url(/assets/fonts/TeleNeoWeb-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: TeleNeo;
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/TeleNeoWeb-Bold.woff2) format("woff2"),
    url(/assets/fonts/TeleNeoWeb-Bold.woff) format("woff"),
    url(/assets/fonts/TeleNeoWeb-Bold.ttf) format("truetype");
}

@font-face {
  font-family: TeleNeo;
  font-style: normal;
  font-weight: 800;
  src: url(/assets/fonts/TeleNeoWeb-ExtraBold.woff2) format("woff2"),
    url(/assets/fonts/TeleNeoWeb-ExtraBold.woff) format("woff"),
    url(/assets/fonts/TeleNeoWeb-ExtraBold.ttf) format("truetype");
}
